# ºöÂÔbinÄ¿Â¼
*/*/bin
#ºöÂÔobjÄ¿Â¼
*/*/obj
#ºöÂÔ°üÄ¿Â¼
*/packages
/dapper/Demo/.vs
/dapper/Demo/packages
/emit/test/test/packages
/emit/test/test/bin
/emit/test/test/obj
/ImageCutter/obj
/ImageCutter/App_Data
/ImageCutter/bin
/packages
/regex/bin
/regex/obj
/emit/EmitDemo/.vs
/emit/EmitDemo/EmitDemo/obj
/emit/EmitDemo/EmitDemo/bin
